:root {
  --primary-dark: #0B4778;
  --primary-darker: #0B4778;
  --base-lighter: #DFE1E2
}


nav,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  line-height: 1.3;
}

a:visited {
  color: inherit;
}

.centers-nav{
  background-color: #e9e9e9;
  color: black;
}

.centers-parent {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.centers-parent li {
  padding: 8px 24px 8px 16px;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.centers-parent a {
  color: rgba(2, 2, 2, .98);
}

.centers-parent li:hover {
  background-color: #d9d9d9;
}

.horizontal-nav {
    background-color: #333;
    color: white;
    padding: 0;
}

.parent-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Makes the parent items horizontal */
    /* justify-content: center; */
}

.parent-item {
    position: relative; /* Required for positioning the absolute child menu */
    display: inline-block;
    padding-right: 20px;
}

.parent-link {
    display: block;
    background-color: #333;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
}


.parent-link:hover {
    background-color: #555;
}
.parent-item:not(.parent-only) .parent-link:after {
    /* content: ' ⌄'; */
  /* The two chevron icons have different styles so using the same one and rotating it instead */
    content: ' ⌃';
    color: white;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    transform: rotate(180deg);
}

/* Change chevron link*/
.parent-item:has(.show) .parent-link:after {
    content: ' ⌃';
    margin-top: 0px;
    transform: rotate(0deg);
}

.child-menu {
    display: none; /* Hidden by default */
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.child-menu li a {
    color: rgba(250, 250, 250, .98);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.child-menu li a:hover {
    background-color: #212121;
}

/* Class applied by JavaScript to show the menu */
.child-menu.show {
    display: block;
}

.child-menu li a.selected {
  background-color: #111;
  position: relative;
}

/* Class applied by JavaScript to show the checkmark */
.parent-only a.selected::after,
.parent-link.selected::after, 
.child-menu li a.selected::after {
    content: ' ✓';
    background-color: rgba(250, 250, 250, .98);
    padding: 2px 4px;
    border-radius: 1em;
    color: green;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1.14;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
}

.child-menu li a.selected::after {
  right: 8px;
}

.parent-link.selected::after{
  right: 0px;
}

@media (max-width:768px) {
  .centers-parent,
  .parent-menu{
    flex-direction: column;
  }

  .child-menu {
    position: relative;
    box-shadow: none;
  }

  .child-menu li a {
    padding-left: 32px;
  }

  .parent-item {
    padding-right: 0;
    border-bottom: 1px solid #a2a4a6;
  }

  .parent-item button {
    width: 100%;
    text-align: left;
  }

  .parent-item:has(.show) .parent-link:after,
  .parent-item:not(.parent-only) .parent-link:after {
    right: 20px;
    position: absolute;
    transform: translateY(30%);
  }

  .parent-item:not(.parent-only) .parent-link:after {
    content: '+';
  }

  .parent-item:has(.show) .parent-link:after {
    content: '−';
    transform: translateY(0%);
  }

  .parent-only a.selected::after {
    right: 20px;
  }
  
  .centers-parent {
    padding: 12px 0;
  }

  .centers-parent li a {
    display: block;
  }

}
